__pycache__/
*.pyc
.venv/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.env
.DS_Store
.vscode/*
!.vscode/settings.json
API_TESTING.md
.cursorignore
.env.dev.docker

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
